
<div class="flex gap-2 items-center px-0 lg:px-5 ">
    
    <h2 class="my-0"> Quick links</h2>
</div>

<!-- Challenge Timeline -->
<div class="w-full not-prose">
    <div class="flex p-5 gap-2 flex-col">
               <a id="joinElementSpace" target="_blank" class="plausible-event-name=Find+Team+Members+Clickw-full lg: xl:text-base flex items-center text-white font-semibold border-1 border-electron/25 hover:bg-electron hover:text-quantum  py-3.5 px-5 h-14 cursor-pointer transition-all duration-300 ease-in-out hover:!text-quantum relative overflow-hidden group" href="https://matrix.to/#/#mqs-community-space:mozilla.org" >
                        <span class="relative z-10">
                            <span>Join our community</span>
                        </span>
                </a>  
                  <a id="goToResources" href="/resources" class=" w-full lg: xl:text-base flex items-center text-white font-semibold border-1 border-electron/25 hover:bg-electron hover:text-quantum  py-3.5 px-5 h-14 cursor-pointer transition-all duration-300 ease-in-out hover:!text-quantum relative overflow-hidden group" >
                        <span class="relative z-10">
                            <span>See our resources</span>
                        </span>
                </a>  
                <a id="downloadDataset" href="/assets/QIC2025-EstDat.csv" class="plausible-event-name=Download+Dataset w-full lg: xl:text-base flex items-center text-white font-semibold border-1 border-electron/25 hover:bg-electron hover:text-quantum  py-3.5 px-5 h-14 cursor-pointer transition-all duration-300 ease-in-out hover:!text-quantum relative overflow-hidden group" >
                        <span class="relative z-10">
                            <span>Download dataset</span>
                        </span>
                </a>  
                <a id="registerTeamButton" class="plausible-event-name=Register+Team w-full lg: xl:text-base flex items-center text-white font-semibold border-1 border-electron/25 hover:bg-electron hover:text-quantum  py-3.5 px-5 h-14 cursor-pointer transition-all duration-300 ease-in-out hover:!text-quantum relative overflow-hidden group" onclick="openRegistrationModal()">
                        <span class="relative z-10">
                            <span>Register your team</span>
                        </span>
                </a>
                <a id="goToSubmission" href="/submission/" class="w-full lg: xl:text-base flex items-center text-white font-semibold border-1 border-electron/25 hover:bg-electron hover:text-quantum  py-3.5 px-5 h-14 cursor-pointer transition-all duration-300 ease-in-out hover:!text-quantum relative overflow-hidden group" onclick="openRegistrationModal()">
                        <span class="relative z-10">
                            <span>Submit your project</span>
                        </span>
                </a>  
        
    </div>

</div>
